Qwen2.5.1-Coder-7B-Instruct-Q4_K_M.gguf
Qwen2.5.1-Coder-7B-Instruct-Q4_K_M-gguf
*.gguf
aplicação/__pycache__/**
aplicação/**/*.pyc
aplicação/**/*.pyo

*.mwb
BaseDadosGestAI.mwb
BaseDadosGestAI.mwb.bak
*.env
